@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Rubik:wght@300&display=swap');
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html{
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
}


input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body, header, main, footer {
    margin: 0;
    padding: 0;
}

.social-VK{
    position: fixed;
    width: 29px;
    height: 29px;
    left: 245px;    
    top: 13px;
    margin-top: 0%;
    background-image: url(img/iconVKdark.svg);
    transition: 0.1s;
    
}

.warp_vk:hover .social-VK{
    top: 10px;
}


.social-Git{
    position: fixed;
    width: 29px;
    height: 29px;
    left: 285px;
    top: 12px;
    margin-top: 0%;
    background-image: url(img/iconGitHub.svg);
    transition: 0.1s;
}

.warp_git:hover .social-Git{
    top: 10px;
}

.social-Telegram{
    position: fixed;
width: 32px;
height: 32px;
left: 325px;
top: 13px;
margin-top: 0%;
background-image: url(img/iconTg.svg);
transition: 0.1s;
}

.warp_tg:hover .social-Telegram{
    top: 10px;
}

.MyName{
    position: fixed;
    top: 16px;
    font-size: 20px;
    margin-top: 0%;
    left: 1085px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #000000;
}

.number{
    position:fixed;
    left: 1345px;
    font-family: 'Rubik', sans-serif;
}

.header-bg{
    position: fixed;
min-width: 100%;
max-width: none;
height: 55px;
left: 0%;
top: -2px;

background: rgb(170, 77, 77);

border-radius: 1px;
z-index: -1;
}

.hello{
    position: absolute;
width: 600px;
height: 144px;
left: 1029px;
top: 516px;

font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 75px;
text-align: center;

color: #AF4B4B;
}

.devoloper{
    position: absolute;
width: 270px;
height: 72px;
left: 1194px;
top: 600px;

font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #606060;
}

.button{
    position: absolute;
width: 270px;
height: 104px;
left: 1194px;
top: 769px;

background: #DDDF79;
mix-blend-mode: normal;
border-radius: 25px;
transition: .5s;
}

.warp:hover .button{
    -webkit-transform: scale(1.2);
-ms-ransform: scale(1.2);
transform: scale(1.2);
background: none;
border: #DDDF79 solid 4px;
background: #fbff0a4f;
border-radius: 50px;

}

.warp:hover .button_text{
    -webkit-transform: scale(4);
-ms-ransform: scale(4);
transform: scale(1.5);
color:rgb(255, 115, 0);
}

.container{display: inline-block;}

scroll-container{
    display: block;
  width: 350px;
  height: 200px;
  scroll-behavior: smooth;
}

.scroll{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}

.button_text{
    position: absolute;
width: 110px;
height: 31px;
left: 1274px;
top: 805px;
transition: 0.7s;

font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
margin-top: 15px;

color: #C1611B;
}

.webjpg{
    position: absolute;
width: 635px;
height: 852px;
left: 245px;
top: 304px;
border-radius: 25px;
background-image: url(img/WebDev.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.works_text{
    position: absolute;
width: 1920px;
height: 57px;
left: 700px;
top: 1366px;


font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #AF4B4B;

}

.works-bg{
    position: absolute;
width: 850px;
height: 431px;
left: 245px;
top: 1545px;

background: #F7CCA4;
mix-blend-mode: normal;
border-radius: 40px;
}

.wt{
    position: absolute;
width: 596px;
height: 149px;
left: 374px;
top: 1674px;

font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;

color: rgba(0, 0, 0, 0.45);
}

.front{
    position: absolute;
width: 374px;
height: 363px;
left: 660px;
top: 1579px;

font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 38px;
transition: 0.4s;

display: flex;
align-items: center;

color:#F7CCA4;
visibility: hidden;
}

.warp_front:active .front{
    color: #606060;
}

.fronted{
    position: absolute;
width: 181px;
height: 48px;
left: 301px;
top: 1669px;

font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 38px;
visibility: visible;
transition: 0.4s;

display: flex;
align-items: center;

color: #464646;
}

.warp-front:hover .fronted{
    color: #C1611B;
    font-size: 39px;
    width: 200px;
}

.warp-front:hover .front{
    visibility: visible;
    color: #464646;
}

.backend{
    position: absolute;
    width: 181px;
height: 48px;
left: 301px;
top: 1736px;

font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 38px;
transition: 0.4s;


display: flex;
align-items: center;

color: #464646;

}


.warp-backend:hover .backend{
    color: #C1611B;
    font-size: 39px;
    width: 200px;
}

.back{
    position: absolute;
width: 374px;
height: 363px;
left: 657px;
top: 1559px;

font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 38px;
visibility: hidden;
transition: 0.4s;

display: flex;
align-items: center;

color:#F7CCA4;
}

.warp-backend:hover .back{
    visibility: visible;
    color: #464646;
}

.fullstack{
    position: absolute;
width: 241px;
height: 48px;
left: 301px;
top: 1803px;

font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 38px;
transition: 0.4s;

display: flex;
align-items: center;

color: #464646;
}

.warp-full:hover .fullstack{
    color: #C1611B;
    font-size: 39px;
    width: 200px;
}

.full{
    position: absolute;
width: 374px;
height: 363px;
left: 660px;
top: 1579px;

font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 38px;
visibility: hidden;
transition: 0.4s;

display: flex;
align-items: center;

color:#F7CCA4;

}

.warp-full:hover .full{
    visibility: visible;
    color: #464646;
}
.gif{
    position: absolute;
width: 506px;
height: 306px;
left: 1100px;
top: 1596px;

background-image: url(img/develpoment.gif);
background-repeat: no-repeat;
background-position: center center;
background-attachment: scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

.education_text{
    position: absolute;
width: 1920px;
height: 74px;
left: 600px;
top: 2122px;

font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #AF4B4B;
}

.school{
    position: absolute;
width: 521px;
height: 338px;
left: 331px;
top: 2314px;

background: #F7CCA4;
border-radius: 20px;
transition: .5s;
}

.warp_school:hover .school{
    background-image: url(img/XXXL.webp);
    -webkit-transform: scale(1.2);
-ms-ransform: scale(1.2);
transform: scale(1.2);
background-repeat: no-repeat;
background-position: center center;
background-attachment: scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
transition: 0.5s;
border-radius: 0%;
}

.school_text{
    position: absolute;
width: 110px;
height: 93px;
left: 530px;
top: 2450px;

font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
transition: 0.5s;

color: #AF4B4B;

}

.warp_school:hover .school_text{
    top: 2680px;
    
}

.institute{
    position: absolute;
width: 521px;
height: 338px;
left: 1069px;
top: 2314px;
transition: 0.5s;

background: #F7CCA4;
border-radius: 20px;
}

.warp_institute:hover .institute{
    background-image: url(img/0b9e109feaf25797034616d6c3ad5e2f.jpg);
    -webkit-transform: scale(1.2);
-ms-ransform: scale(1.2);
transform: scale(1.2);
background-repeat: no-repeat;
background-position: center center;
background-attachment: scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
transition: 0.5s;
border-radius: 0%;

}

.institute_text{
    position: absolute;
width: 129px;
height: 45px;
left: 1270px;
top: 2450px;

font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
transition: 0.5s;

color: #AF4B4B;
}

.warp_institute:hover .institute_text{
    top: 2680px;
}

.copyright-bg{
    position: fixed;
min-width: 100%;
max-width: none;
width: 1920px;
height: 55px;
left: 0px;
top: 3456px;

background: #080808d0;
}

.copyright_text{
    position: absolute;
width: 455px;
height: 28px;
left: 733px;
top: 3450px;

font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}

.contacts-bg{
    position: absolute;
width: 1920px;
height: 550px;
left: -18px;
top: 2906px;

background: #d6d69f;
z-index: -1;
}

.tel-bg{
    position: absolute;
width: 385px;
height: 135px;
left: 565px;
top: 3083px;
transition: 0.5s;

background: rgba(221, 87, 87, 0.7);
}

.warp_contacts:hover .tel-bg{
    border-radius: 20px;
    width: 365px;
height: 120px;
left: 580px;
top: 3083px;
background: #ebb653;
}

.tel{
    position: absolute;
width: 383px;
height: 3px;
left: 567px;
top: 3128px;
margin-top: 0%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
text-align: center;
color: #FFFFFF;
transition: 0.5s;
}

.warp_contacts:hover .tel{
    color: #AF4B4B;
}

.email-bg{
    position: absolute;
width: 385px;
height: 135px;
left: 970px;
top: 3083px;
transition: 0.5s;

background: rgba(221, 87, 87, 0.7);
}

.warp_email:hover .email-bg{
    border-radius: 20px;
    width: 365px;
height: 120px;
left: 985px;
top: 3083px;
background: #ebb653;
}

.warp_email:hover .email{
    color: #AF4B4B;
}

.email{
    position: absolute;
width: 415px;
height: 134px;
left: 970px;
top: 3128px;
margin-top: 0%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
text-align: center;
transition: 0.5s;

color: #FFFFFF;
}

.adress-bg{
    position: absolute;
width: 385px;
height: 135px;
left: 768px;
top: 3269px;
transition: 0.5s;

background: rgba(221, 87, 87, 0.7);
}

.warp_adress:hover .adress-bg{
    position: absolute;
width: 365px;
height: 120px;
left: 783px;
top: 3272px;
background: #ebb653;
border-radius: 20px;
}

.adress{
    position: absolute;
width: 387px;
height: 133px;
left: 769px;
top: 3315px;
transition: 0.5s;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #FFFFFF;

}

.warp_adress:hover .adress{
    color: #AF4B4B;
}


body{
    background-color: #DADADA;
    z-index: -10000;
}
