@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Rubik:wght@300&display=swap');
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html{
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
}


input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body, header, main, footer {
    margin: 0;
    padding: 0;
}

.social-VK{
    position: fixed;
    width: 29px;
    height: 29px;
    left: 80px;
    top: 13px;
    margin-top: 0%;
    
}

.social-Git{
    position: fixed;
    width: 29px;
    height: 29px;
    left: 120px;
    top: 12px;
    margin-top: 0%;
    

}

.social-Telegram{
    position: fixed;
width: 32px;
height: 32px;
left: 160px;
top: 13px;
margin-top: 0%;

}

.MyName{
    position: fixed;
    top: 16px;
    font-size: 20px;
    margin-top: 0%;
    left: 1380px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #000000;
}

.number{
    position:fixed;
    left: 1640px;
    font-family: 'Rubik', sans-serif;
}

.header-bg{
    position: fixed;
min-width: 100%;
max-width: none;
height: 55px;
left: 0%;
top: -2px;

background: rgb(170, 77, 77);

border-radius: 1px;
z-index: -1;
}

.hello{
    position: absolute;
width: 600px;
height: 144px;
left: 1029px;
top: 516px;

font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 75px;
text-align: center;

color: #AF4B4B;
}

.devoloper{
    position: absolute;
width: 270px;
height: 72px;
left: 1194px;
top: 600px;

font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #606060;
}

.button{
    position: absolute;
width: 270px;
height: 104px;
left: 1194px;
top: 769px;

background: #DDDF79;
mix-blend-mode: normal;
border-radius: 25px;
transition: .5s;
}

.warp:hover .button{
    -webkit-transform: scale(1.5);
-ms-ransform: scale(1.5);
transform: scale(1.5);
}

.warp:hover .button_text{
    -webkit-transform: scale(4);
-ms-ransform: scale(4);
transform: scale(3);
}

.container{display: inline-block;}

scroll-container{
    display: block;
  width: 350px;
  height: 200px;
  scroll-behavior: smooth;
}

.scroll{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}

.button_text{
    position: absolute;
width: 110px;
height: 31px;
left: 1274px;
top: 805px;
transition: 1s;

font-family: 'League Gothic', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
margin-top: 15px;

color: #C1611B;
}

.webjpg{
    position: absolute;
width: 635px;
height: 852px;
left: 245px;
top: 304px;
border-radius: 25px;
background-image: url(img/WebDev.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.copyright-bg{
    position: fixed;
min-width: 100%;
max-width: none;
width: 1920px;
height: 55px;
left: 0px;
top: 4970px;

background: #080808d0;
}

.copyright_text{
    position: absolute;
width: 455px;
height: 28px;
left: 733px;
top: 4959px;

font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}

.contacts-bg{
    position: absolute;
width: 1920px;
height: 550px;
left: -18px;
top: 4406px;

background: #d6d69f;
z-index: -1;
}

.tel-bg{
    position: absolute;
width: 385px;
height: 135px;
left: 565px;
top: 4572px;

background: rgba(221, 87, 87, 0.7);
}

.tel{
    position: absolute;
width: 383px;
height: 90px;
left: 567px;
top: 4633px;
margin-top: 0%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
text-align: center;
color: #FFFFFF;
}

.email-bg{
    position: absolute;
width: 415px;
height: 135px;
left: 970px;
top: 4572px;

background: rgba(221, 87, 87, 0.7);
}

.email{
    position: absolute;
width: 415px;
height: 134px;
left: 970px;
top: 4630px;
margin-top: 0%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
text-align: center;

color: #FFFFFF;
}

.adress-bg{
    position: absolute;
width: 385px;
height: 135px;
left: 768px;
top: 4758px;

background: rgba(221, 87, 87, 0.7);
}

.adress{
    position: absolute;
width: 387px;
height: 133px;
left: 769px;
top: 4800px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #FFFFFF;

}


body{
    background-color: #DADADA;
    z-index: -10000;
}